.primary_footer {
    --logo-color: var(--clr_neutral_100);
}

.primary_footer_wrapper {
    display: grid;
    gap: var(--size_700);
    width: 100%;
    grid-template-areas:
        "form"
        "nav"
        "logo-social";
}

.primary_footer_logo_social {
    grid-area: logo-social;

    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: var(--size_700);
}

.primary_footer_nav {
    grid-area: nav;
}

.primary_footer_form {
    grid-area: form;

    display: grid;
    align-content: center;
}

.primary_footer form {
    display: flex;
    gap: var(--size_200);
    margin-bottom: 1em;
}

input:where([type="text"], [type="email"], ) {
    border-radius: 100vw;
    border: 0;
    padding: var(--size_300) var(--size_400);
}

@media (min-width: 50em) {
    .primary_footer_wrapper {
        grid-template-areas: "logo-social nav form";
    }

    .primary_footer_logo_social {
        align-items: flex-start;
        flex-direction: column;
        justify-content: space-between;
        gap: var(--size_700);
    }
}

@media (max-width: 50em) {
    .primary_footer_wrapper>* {
        margin-inline: auto;
        width: 100%;
        align-items: center;
        text-align: center;
    }

    .primary_footer form {
        justify-content: center;
    }

    .primary_footer_form p {
        text-align: center;
    }

}

/* footer navigation */

.footer_nav {
    columns: 2;
    gap: clamp(var(--size_200), 30vw, var(--size_900));
}

.footer_nav a {
    color: var(--clr_neutral_100);
    text-decoration: none;
    transition: color 0.4s;
}

.footer_nav a:is(:hover, :focus) {
    color: var(--clr_accent_400);
}

/* social list */

.social-list {
    display: flex;
    gap: var(--size_600);
}

.social-icon {
    width: var(--size_600);
    aspect-ratio: 1;
    fill: var(--clr_neutral_100);
    transition: fill 0.4s;
}

.social-list a:is(:hover, :focus) .social-icon {
    fill: var(--clr_accent_400);
}

@media (min-width: 50em) {
    .social-list {
        gap: var(--size_300);
    }

    .social-icon {
        width: var(--size_500);
    }
}